@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed&display=swap");

.body {
  font-family: "Barlow Semi Condensed";
}
.Main__Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Main__Header {
  display: flex;
}

.switch__button {
  font-family: "Barlow Semi Condensed";

  margin-left: 20px;
  margin-top: 50px;
  color: white;
}

.Main__Footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.Main__Footer button {
  font-family: "Barlow Semi Condensed";
  font-weight: 600;
  height: 40px;
  width: 120px;
  display: flex;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-size: 15px;
  color: whitesmoke;
  background: transparent;
  border: solid 2px hsl(217, 16%, 45%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border-radius: 8px;
}
.Main__Footer button:focus {
  outline: none;
}
.Dashboard__Button {
  margin-left: 50px;
}
.Rules__Button {
  margin-right: 50px;
}
